.stage-card:nth-child(3n+1) { 
    margin-left: 0 !important;
}

.stage-card .card {
    width: 270px;  
}

.kaban-stage-container {
    row-gap: 1.5rem;
}

.draggable {
    top: auto !important;
    left: auto !important;
    z-index: 1000;
}

.add-column {
   width: 250px;
}